<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./partials/head') %>
        <title>
            Add New Blog
        </title>
</head>
<body>
    <%- include('./partials/nav') %>
        <div class="container mt-3">
            <form action="/blog" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="coverImage">CoverImage</label>
                    <input type="file" class="form-control mt-2" id="coverImage" name="coverImage" required>
                </div>
                <div class="mb-3">
                    <label for="title">Title</label>
                    <input type="text" class="form-control mt-2" id="title" name="title" placeholder="Enter blog title"
                        required>
                </div>
                <div class="mb-3">
                    <label for="body">Body</label>
                    <textarea class="form-control mt-2" placeholder="Leave a comment here" id="body"
                        name="body"></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary">submit</button>
                </div>
            </form>
        </div>
        <%- include('./partials/script') %>
</body>

</html>